{% extends 'supershop/base.html'%}
{% block content %}
<table>
    <tr>
        <th>Total orders</th>
        <th>New order</th>
        <th>Delivered order</th>
        <th>In process order</th>
        <th>Not delivered order</th>
    </tr>
    <tr>
        <td>{{ orders_count }}</td>
        <td>{{ orders_new}}</td>
        <td> {{ orders_delivered }}</td>
        <td> {{ orders_in_process }}</td>
        <td> {{ orders_not_delivered }}</td>
    </tr>
</table>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Product image</th>
        <th scope="col">Product name</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Customer's name</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <td scope="row"><img src="{{order.product.image.url}}" width=150px, height=80px></td>
        <td>{{ order.product.name }}</td>
        <td>{{ order.date_created }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.customer_order }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}

