{% extends 'supershop/base.html'%}
{% block content %}

<form action="" method="GET">
    {{filter.form}}
    <input type="submit" name="Confirm">
</form>

<table class="table table-hover table-dark">
    <thread>
        <tr>
            <td scope="col">Image</td>
            <td scope="col">Name</td>
            <td scope="col">Model</td>
            <td scope="col">Manufactured</td>
            <td scope="col">Type</td>
            <td scope="col">Gender</td>
            <td scope="col">Size</td>
            <td scope="col">Price</td>
            <td scope="col">Buy</td>

        </tr>
    </thread>
    <tbody>
        {% for product in products %}
    <tr>
        <td><img src="{{product.image.url}}" width=150px, height=90px></td>
        <td>{{ product.name }}</td>
        <td>{{ product.product_model }}</td>
        <td>{{ product.manufactured }}</td>
        <td>{{ product.product_type }}</td>
        <td>{{ product.gender }}</td>
        <td>{{ product.size }}</td>
        <td>{{ product.price }}</td>
        <td><a href="{%url 'ordercreate' product.id %}">Buy</a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}
